.cards {
    display: flex;
}
.title {
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 50px;
}
.titleTitle {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.overTitle {
    font-size: 14px;
    font-weight: 700;
    color: #D77474;
    padding-bottom: 30px;
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 50px 0;
}

.wrapper img {
    width: 350px;
    height: 473px;
  
}
.wrapper img:hover {
    border: solid #6c6c6c;
    cursor: pointer;
}