.contacts {

}
input {
    display: block;
    width: 500px;
    height: 60px;
    margin-bottom: 30px;
    outline: none;
    padding: 30px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}
textarea {
    width: 500px;
    height: 220px;
    margin-bottom: 30px;
    outline: none;
    padding: 30px;
    box-sizing: border-box;
}
textarea::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 0;
    box-sizing: border-box;
}
.sub {
    border: solid 1px #A52424;
    background: #fff;
    font-size: 24px;
    font-weight: 500;
    color: #A52424;
    width: 500px;
    padding: 0;
}